body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
    /*added*/
    /* display: flex;
    flex-direction: row;
    gap: 15px;
    margin-right: 90px;
    margin-left: 90px; */
  }
  
  nav {
    background-color: #000;
    padding: .5em;
    /*added*/
    position: sticky;
    top: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    /*added*/
    display:flex;
    justify-content: space-evenly;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
    /*added*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    gap: 1px;
    width: 200px;
  }

  .feature {
      width: 200px;
      /*added*/
      margin-right: 30px;
      margin-bottom: 30px;
      float: left;
  }

/*added*/
main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
}

@media only screen and (max-width: 500px) {
  nav ul {
    display: revert;
  }
  nav {
    position: revert;
  }
  main {
    display: revert;
  }
  .photos {
    width: 300px;
    grid-template-rows: 150px 150px 150px;
  }
  .feature {
    float: revert;
  }
}